# {{ ansible_managed }}
# All options in: https://confluence.atlassian.com/bitbucketserver/bitbucket-server-config-properties-776640155.html
server.port={{ bitbucket_port }}

jmx.enabled={{ bitbucket_jmx.enabled }}

{% if bitbucket_database_configuration is defined %}
{% set conf = bitbucket_database_configuration %}
# DB options
jdbc.driver={{ conf.driver }}
jdbc.url={{ conf.url }}
jdbc.user={{ conf.user }}
jdbc.password={{ conf.password }}
{% endif %}

server.additional-connector.1.port=8443
server.additional-connector.1.secure=true
server.additional-connector.1.scheme=https
server.additional-connector.1.ssl.enabled=true
server.additional-connector.1.ssl.key-store=/opt/armcore/cert/keystore.jks
server.additional-connector.1.ssl.key-store-password=changeit
server.additional-connector.1.ssl.key-password=changeit

